body {
    background-color: #141414;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin-top: 100px;
    background-color: #000000;
    border-radius: 10px;
    width: 100%;
}

h1, h2, h3, h4, h5, h6, p, a {
    color: rgb(190, 133, 11);
}

header #branding h1 {
    margin: 10px;
}

header nav {
    float: left;
    margin-top: 10px;
}

header a {
    color: rgb(190, 133, 11);
    text-transform: uppercase;
    font-size: 16px;
    transition: color 0.3s ease;
}

header li {
    float: right;
    display: inline;
    padding: 0 20px 0 20px;
}

header .highlight,
header .current a {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

header a:hover {
    color: rgb(255, 255, 255);
}

nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

footer {
    margin-top: 15%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lrn-button {
    position: relative;
    margin-top: 20px;
    background-color: #000000;
    width: 250px;
    height: 150px;
    border-radius: 15px 50px 15px 20px;
    border-color: rgb(190, 133, 11);
    transition: 0.5s;
    position: relative;
    font-size: 24px;
    color: rgb(190, 133, 11);
    z-index: 1;
}

#lesson {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lb1, .lb2 {
    margin-top: 25px;
    width: 100px;
    height: 100px;
    border-radius: 40px;
    background-color: rgb(190, 133, 11);
}

.lb1 {
    margin-left: 10%;
}

.lb2 {
   margin-right: 25%; 
}

.copyright, #license {
    font-size: 15px;
    color: white;
}

.img-cc {
    width: 50px;
    height: 50px;
    margin-left: 5px;
}

li {
    margin-top: 10px;
}

.hidden {
    display: none;
}

.sub-menu {
    display: none;
    list-style-type: none;
    padding-left: 0;
    border-radius: 30px;
    position: absolute;
    z-index: 2;
}

.lrn-button:hover .sub-menu {
    display: block;
    position: absolute;
    background-color: #000000;
    border: 1px solid rgb(190, 133, 11);
    padding: 10px;
    margin-top: 5px;
    z-index: 3;
}

.lrn-button:hover {
    transform: scale(1.05);
    z-index: 1;
}

.lrn-button li a {
    color: rgb(190, 133, 11);
}

.lrn-button .sub-menu li a {
    text-decoration: none;
    font-size: 22px;
    background-color: rgb(82, 57, 5);
    border-radius: 22px;
    font-weight: bold;
}

#ex001° {
    font-size: 17px;
    color: rgb(226, 159, 14);
}

#logo {
    margin-top: 10px;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 15px;
    transition: transform 0.3s ease;
}

#logo:hover {
    transform: rotate(10deg);
}

form {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

form, a {
    transition: 0.25s;
}

form, a:hover {
    color: rgb(255, 255, 255);
}

input  {
    border-radius: 40px;
    width: 200px;
    height: 30px;
    background-color: rgb(63, 63, 63);
    transition: 0.5s;
    color: rgb(255, 255, 255);
}

input:hover {
    scale: 1.05;
}

#connect {
    width: 180px;
    background-color: rgb(190, 133, 11);
    transition: 0.5s;
}

#connect:hover {
    background-color: white;
}

.google-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.google-login-button {
    background-color: #4285F4;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.google-login-button:hover {
    background-color: #357ae8;
}

.google-login-button img {
    margin-right: 10px;
    border-radius: 20px;
}
