body {
    background-color: #0047AB;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin-top: 15px;
    background-color: #000080;
    border-radius: 10px;
    width: 100%;
}

h1, h2, h3, h4, h5, h6, p, a {
    color:white;
}

header #branding h1 {
    margin: 10px;
}

header nav {
    float: left;
    margin-top: 10px;
}

header a {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    transition: 0.5s;
}

header li {
    float: right;
    display: inline;
    padding: 0 20px 0 20px;
}

header .highlight,
header .current a {
    color: #1da4e8;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

footer {
    margin-top: 15%;
    background-color: blue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lrn-button {
    margin-top: 20px;
    background-color: #5882FA;
    width: 250px;
    height: 150px;
    border-radius: 15px 50px 15px 20px;
    transition: 0.5s;
}

.lrn-button:hover {
    scale: 1.1;
}

a {
    text-decoration: none;
    font-size: 25px;
}

#login-button {
    margin-left: 70%;
    margin-right: 15px;
    margin-top: 15px;
    border-radius: 20px;
    background-color: #5882FA;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

input,
#login {
    margin-top: 10px;
    height: 35px;
    width: 250px;
    border-radius: 15px;
}

#login {
    background-color: #5882FA;
}

#lesson {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lb1, .lb2 {
    margin-top: 25px;
    width: 100px;
    height: 100px;
    border-radius: 40px;
    background-color: #5882FA;
}

.lb1 {
    margin-left: 10%;
}

.lb2 {
   margin-right: 25%; 
}

.copyright, #license {
    font-size: 15px;
    color: white;
}

.img-cc {
    width: 50px;
    height: 50px;
    margin-left: 5px;
}

li {
    margin-top: 10px;
}

.hidden {
    display: none;
}
